@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #0F0E47;
  color: #ffffff;
}

/* ✨ NEW: Hides the scrollbar but keeps scrolling functionality! */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}